<div class="d-flex flex-column flex-md-row align-items-center justify-content-between fixed-top p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <img src="../../assets/images/logo.png" style="max-height:40px" class="m-0">

    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font: larger;">
      <a class="p-2 text-dark" routerLink="">Home</a>
      <a class="p-2 text-dark" routerLink ="shop" >Shop</a>
      <a class="p-2 text-dark" href="#">Contact</a>
    </nav>
    <div class="d-flex  align-items-center">
        <a style="position: relative;">
            <i routerLink="basket" style="cursor: pointer;" class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div *ngIf="basket$ | async" class="cart-no text-center">{{(basket$ | async).items.length}}</div>
        </a>
        <ng-container *ngIf="(currentUser$ | async) === null">
          <a class="btn btn-outline-secondary mr-2" routerLink="/account/login">Login</a>
          <a class="btn btn-outline-secondary mr-3" routerLink="/account/register">Sign up</a>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <strong> {{(currentUser$ | async)?.displayName}}</strong>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" routerLink="./basket">
                <i class="fa fa-shopping-cart mr-2"></i>View basket
              </a>
              <a class="dropdown-item" href="#" routerLink="./order">
                <i class="fa fa-shopping-bag fa-1x mr-2" aria-hidden="true"></i>My Orders
              </a>
              <a (click)="Logout()" class="dropdown-item">
                <i class="fa fa-sign-out mr-2" style="color:aliceblue!;"></i>Logout
              </a>
            </div>
          </div>

        </ng-container>  
    </div>
  </div>