<p class="p-2" style="background-color:darkgrey;">Order Totals</p>
<div class="p-4">
    <ul class="list-unstyled " *ngIf="(basketTotal$ | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping</strong>
            <strong>{{ (basketTotal$ | async)?.shipping |currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">SubTotal</strong>
            <strong>{{(basketTotal$ | async)?.subTotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{(basketTotal$ | async)?.total | currency}}</strong>
        </li>
    </ul>
</div>
